name = "mysta-api-server"
main = "src/index.ts"
compatibility_date = "2025-05-12"

[vars]
SUPERBASE_KEY = ""
SUPERBASE_URL = ""
LLM_API_KEY = ""
LLM_API_URL = ""
DEFAULT_MODEL = ""
EMBEDDING_API_KEY = ""

[observability.logs]
enabled = true

[[vectorize]]
binding = "MYTSTA_E5_INDEX"
index_name = ""

[[d1_databases]]
binding = "UDB"
database_name = ""
database_id = ""

[[durable_objects.bindings]]
name = "AgentContext"
class_name = "AgentContext"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["AgentContext"]